body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signin-container {
  background-color: rgb(188, 238, 243);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  max-width: 400px;
  max-height: 200px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 15px;
  position: absolute;
  inset: 0;
  
}

.book-container {
  max-width: 400px;
  padding: 2rem;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: palevioletred;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-height: max-content;
  position: absolute;
  inset: 0;
}

.book-container header {
  background-color: antiquewhite;
  min-width: 100%;
}

.book-items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid white;
  border-radius: 15px;
  padding: 1em;
  width: 100%;
  margin-top:1em;
  min-height: 100px;
}

.book-item {
  background-color: thistle;
  padding: .25em 1em;
  margin-bottom: 1em;

}